.contenedorLoginForm {
    background-color: white;
    border-radius: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 30px 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
}

.tituloForm {
    color: #000;
    margin-bottom: 30px;
}

.loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.loginForm label{
    color: #676767;
    margin: 8px  4px;
    font-size: 13px;
    font-weight: bold;
}

.loginForm input {
    width: 100%;
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: 20px;
    height: 35px;
    padding: 0 10px;
    margin-bottom: 20px;
}

.loginForm button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #00acdb;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginForm button:hover {
    background-color: #008bb5;
}

.loginForm .mostrarMensajeError {
    visibility: visible;
    font-size: 12px;
    color: red;
}

.loginForm .mensajeError {
    visibility: hidden;
    font-size: 12px;
}

.contenedorLoginForm a {
  font-size: 13px;
  text-align: center;
  color: #00acdb;
  text-decoration: none;
}

.contenedorLoginForm a:hover {
  text-decoration: underline;
}